{% extends "layout.html" %}
{% block body_content %}
<br>
<p1>Create Set and add Songs</p1>
        <div class='form'>
                <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.set_name.label }}
                {{ form.set_name }}
                <br>
                {{ form.submit }}
                </form>
                </div>
{% for sets in set_list  %}
        <div>
                <p>|ID| {{ sets.id }}
                |Set Name| {{ sets.set_name }}
                </p>
        </div>
	{% for song in songs %}
        <div>
                <p>|ID| {{ song.id }}
                |Song Name| {{ song.song_name }}
                |Album| {{ song.song_album }}
                |Artist| {{ song.song_artist }}
                |Key| {{ song.song_key }}
                |BPM| {{ song.song_bpm }}</p>
        </div>
	<form action="{{ url_for ('addsetsong', id=set_list.id, id1=songs.id) }}">
                <button type= "submit">Add Song to Set</button>
	{% endfor %}
{% endfor %}
{% endblock %}
