[Unit]
Description=Set List Service
[Service]
User=jenkins
WorkingDirectory=/opt/flask-app
EnvirornmentFile=/opt/flask-app/flask.env
Envirornment='DATABASE_URI=$DATABASE_URI'
Envirornment='MY_SECRET_KEY=$MY_SECRET_KEY'
ExecStart=/bin/sh \
    -c 'cd /opt/flask-app &&\
    . ./venv/bin/activate &&\
    gunicorn --workers=4 --bind=0.0.0.0:5000 app:app'
[Install]
WantedBy=multi-user.target
