[Unit]
Description=Set List Service
[Service]
User=flask-app
WorkingDirectory=/opt/flask-app
EnvirornmentFile=/opt/flask-app/flask.env
ExecStart=/bin/sh \
	-c 'cd /opt/app && \
	. ./venv/bin/activate && \
        gunicorn --workers=4 --bind=0.0.0.0:5000 app:app'
[Install]
WantedBy=multi-user.target
