[Unit]
Description=Set List Service
[Service]
User=jenkins
WorkingDirectory=/opt/flask-app
Envirornment=DATABASE_URI='sqlite:///data.db'
Envirornment=MY_SECRET_KEY='pejrgpijerpgij'
ExecStart=/bin/sh \
    -c 'cd /opt/flask-app &&\
    . ./venv/bin/activate &&\
    gunicorn --workers=4 --bind=0.0.0.0:5000 app:app'
[Install]
WantedBy=multi-user.target
